.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  color: black;
  font-weight: 900;
  padding: 2%;
  margin-bottom: 10px;
}
form {
  width: 500px;
  margin: auto;
  text-align: justify;
}
#container {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  gap: 10px;
  margin: auto;
}
#container > div {
  border: 1px solid red;
  height: 100px;
}
